<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <h2>CLINICAL TRIAL MANAGEMENT</h2>
    <div class="container">
        <div class="div1">
            <h1>ADD REPORT</h1>
            <form action="/addreport" >
            <button class="button"  >ADD</button>
            </form>
        </div>
        <div class="div2">
            <h1>VIEW REPORT</h1>
            <form action="/viewreport" >
                <button class="button"  >VIEW</button>
                </form>
        </div>
        <div class="div3">
            <h1>ANALYSIS</h1>
            <form  >
                <button class="button"  >VIEW</button>
                </form>
        </div>
    </div>
   
</body>
</html>