*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #f3f1f1cc;
}
.container{
    display: flex;
    height: 100vh;
    align-items:center;
    gap: 6em;
    flex-grow:1;
    padding: 0 40px;
}
.div1, .div2, .div3{
   width: 21em;
   height: 21em;
   background-color: #fff;
   box-shadow: 5px 5px 25px #0000005f;
   padding: 10px 30px;
   border-radius:10px; 
}
@media(max-width:1200px){
    .container{
        height: 100%;
        flex-direction: column;
    }
    .div1, .div2, .div3{
        max-width: 80%;
        padding: 30px;
    }
}
button:hover{
    background-color: #058585;
}
h2{
    text-align: center;
    font-size: 3rem;
}
.button{
    padding: 10px 20px;
    background-color: #3289ed;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 25px;
    margin-top: 20px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    top: 35px;
    position: relative;
}